@media screen and (max-width: 321px) {
    .navbar-dark .navbar-toggler {
        margin-right: 15px !important;
    }

    aside {
        width: 100vw !important;
        height: auto !important;
        position: sticky !important;
        position: -webkit-sticky;
        z-index: 9999999;
        top: 0;
    }

    #mainpage {
        position: relative;
        margin-left: 0px !important;
        width: 100% !important;
    }

    .section {
        min-width: 100vw !important;
        max-width: 100vw !important;
    }
    .myjob {
        display: flex;
        align-content: center !important;
        padding:0 5px 0 5px !important;
    }
}