/* initialisations */
* {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #545454;
    line-height: 22px;
}

.iconeY {
    -webkit-filter: sepia(100%) ;
      filter: sepia(100%) ;
}

#section-home {
    background: url('../media/mbr-1920x1281.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------------------------------------------------------------------------------*/
/* navigation */
/* --------------------------------------------------------------------------------*/
/ .menuNav {
    width: 200px !important;
}

aside {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0px !important;
    width: 20vw;
    height: 100vh !important;
}

#maPhoto {
    align-self: center;
    width: 200px;
    margin-top: 10px;
    padding-bottom: 50px !important;
}

#maPhoto img {
    border-radius: 50% !important;
    padding: 0 10px 0 10px !important;
}

.navbar a {
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
    text-transform: uppercase;
}

.navbar li {
    display: block;
    padding-left: 15px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    line-height: 2.5em;
}

.navbar li:hover {
    background-color: rgb(61, 68, 75)
}

.navbar li:hover a {
    color: orange !important;
}

/* ---------------------------------------------------------------------*/
/* mainpage */
/* ---------------------------------------------------------------------*/
#mainpage {
    position: absolute;
    top: 0;
    margin-left: 20vw !important;
    width: 80vw !important;
    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.divToSlide {
    position: absolute;
    display: flex;
}

.section {
    min-width: 80vw !important;
    max-width: 80vw !important;
    min-height: 100vh !important;
    padding:15px 15px !important;
}

.myjob {
    padding:25px 0px !important;
    border-bottom:2px solid rgba(0,0,0,0.05);
}